*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  padding-left: 15%;
  padding-right: 15%;
}

h1{
  padding-top: 1rem;
}

nav{
  position: relative;
  text-align: end;
}

nav a{
  border: solid black 0.5px;
  padding: 3px 10px;
  color: white;
  text-decoration: none;
  background-color: #3366cc;
  box-shadow: 2px 2px black;
}

.link-activo{
  background-color: #00cc66;
}

.banner-img{
  max-width: 100%;
}

h2{
  text-align: center;
  border: solid black 0.01em;
  margin: 0;
}

aside{
  display: inline-block;
}

aside img{
  width: 10em;
}

.aclaracion{
  margin-bottom: 2em;
  font-weight: lighter;
}

.contenido{
  display: inline-block;
  margin-left: 3em;
  vertical-align: top;
  padding-top: 3em;
  max-width: 70%;
}

#index{
  padding-top: 1em;
}

ul li{
  padding: 1em 0;
}
ul h3{
  font-style: italic;
}

.info{
  margin-top: 3em;
}

td:nth-child(1){
  text-align: center;
}

td,
th{
  padding: 0.5em 1.5em;
  margin: 0;
}

span{
  display: block;
  margin: 1em auto;
}

span.inline-block{
  display: inline-block;
}

div span:nth-child(4){
  margin-right: 4em;
}

.indent{
  text-indent: 2em;
}

.center-no-bold{
  text-align: center;
  font-weight: normal;
}

ul.all-play{
  list-style-type: circle;
  padding-left: 3em;
}